@import "colors";

#logs {

    .log {
        padding: 10px 10px 10px 20px;
        margin: 10px 0px;
    }

    .log-success {
        border-left: 10px solid $green;
    }

    .log-failed {
        border-left: 10px solid $red;
    }

}